name: Docker LAB-10 PRACTICE

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_SECRET }}

      - name: Build and push backend image
        uses: docker/build-push-action@v5
        with:
          context: ./BACKEND/SpringBootApp
          file: ./BACKEND/SpringBootApp/backend.Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/docker-backendp:latest

      - name: Build and push frontend image
        uses: docker/build-push-action@v5
        with:
          context: ./FRONTEND/reactproject
          file: ./FRONTEND/reactproject/frontend.Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/docker-frontendp:latest
